.auth_menu {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.login_details {
    grid-column: 2 / span 2;
    grid-row: 1 / span 2;
    display: flex;
    flex-direction: column;
    gap: 1.5em;
    justify-content: center;
}

.send_details {
    grid-column: 4;
    grid-row: 3;
}

.show_message {
    grid-column: 1;
    grid-row: 1 / span 3;
}