@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #421212;
  --color-secondary: #2c4b2c;
  --color-tertiary: #181844;
  --background-color: #000000;
  --font-color: #ff0000;
  --console-bar-color: #141414c4;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
body {
  color: var(--font-color);
  background-image: url('/background.webp');
  background-size: cover;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  height: 100vh; /* This makes the layout take up the full viewport height */
  width: 100%;
}
section {
  width: 100vw; /* 100% of the viewport width */
  height: 95%; /* 90% of the viewport height */
  display: flex;
}
footer {
  width: 100%;
  height: 5%;
}



/* Mobile styles */
@media (max-width: 768px) {
  body {
    grid-template-columns: 100%;
    grid-template-rows: 20% 80%;
  }

  header {
    grid-column: 1;
    grid-row: 1;
  }

  section {
    grid-column: 1;
    grid-row: 2;
  }
}