
nav {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 100%;
    user-select: none;
}
nav div {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100%;
}
nav>div>ul {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: left;
    align-content: flex-start;
    overflow: auto;
    flex-wrap: wrap;
    height: 100%;
    width: 100%;
    scrollbar-width: thin; /* For Firefox */
    scrollbar-color: white transparent; /* For Firefox */
}
nav>div>ul>li {
    position: relative;
    flex-shrink: 1;
    max-width: 5em;
    max-height: 5em;
    margin: 1em;
}
nav>div>ul>li a {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

nav span.selected {
    color: red;
}
nav>div>ul>li a img {
    width: 100%;
    top: 0;
    grid-row: 1;
    object-fit: contain; /* This will ensure that the aspect ratio of the image is preserved */
}
nav>div>ul>li a span{
    width: 100%;
    grid-row: 2;
    text-align: center;
    font-size: 1em;
    color: white;
    align-items: center;
    justify-content: center;

}
nav div ul::-webkit-scrollbar {
    width: 8px; /* For Chrome, Safari, and Opera */
}

nav div ul::-webkit-scrollbar-track {
    background: transparent; /* For Chrome, Safari, and Opera */
}

nav div ul::-webkit-scrollbar-thumb {
    background: white; /* For Chrome, Safari, and Opera */
}

nav div ul::-webkit-scrollbar-thumb:hover {
    background: white; /* For Chrome, Safari, and Opera */
}